.card-list {
  align-items: flex-start;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  justify-content: stretch;

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.65rem;
  }
}

.card-list--inline {
  align-items: initial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  transform: rotateX(180deg);

  li {
    margin: 0rem 1rem;
    min-width: 256px;
    padding-top: 1.4rem;
    transform: rotateX(180deg);

    @media (max-width: 700px) {
      min-width: 128px;
    }
  }
}
